html,body {
  background-color: #000;
  background-image: url('./images/background.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-size: 80% ;
  background-position-x:50% ;
}
#alice-tot {
  position: relative;
  left: 50%;
  margin-top: 30%;

}

#alice-skelton {
  width: 17%;
  position: absolute;
  left: 45%;
  bottom:-400px;
}

#hair { 
  z-index: -1;
  width: 17%;
  position: absolute;
  left: 590px;
  bottom: 60px;  
   
}
#table-ad {
  z-index: auto;
  width: 80%;
  height: 40%;
  position: absolute;
  left: 10%;
  bottom: 0%;
}
#drinkMe {
  z-index: 1;
  position: absolute;
  bottom: 8%;
  right: 18%;
}
#bottle_b {

  position: absolute;
  bottom: 3%;
  right: 16%;
    
}

.eat_me {
  overflow: hidden;
  cursor: pointer;
  height: 250px;
  width: 400px;
  position: absolute;
  bottom: 6%;
  left: 18%;
}
.eatMe::before {
  content: " ";
  display: block;
  padding-top: 74.83%;
}

#eatMe{
  position: absolute;
  left: 5%;
  bottom: 29%;
  
}