html,body {
  background-color: #000;
  background-image: url('./images/background.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-size: 80% ;
  background-position-x:50% ;
}
#alice-tot {
  cursor: pointer;
  position: relative;
  left: 50%;
  margin-top: 35%;

}

#alice-skelton {
  width: 7%;
  position: absolute;
  left: 45%;
  bottom:-90px;
}

#hair { 
  z-index: -1;
  width: 7%;
  position: absolute;
  left: 600px;
  bottom: 80px;  
   
}
#table-ad {
  z-index: auto;
  width: 80%;
  height: 40%;
  position: absolute;
  left: 10%;
  bottom: 0%;
}
#drinkMe {
  cursor: pointer;
  z-index: 1;
  position: absolute;
  bottom: 8%;
  right: 18%;
}
#bottle_b {
  z-index: -1;
  position: absolute;
  bottom: 3%;
  right: 16%;
    
}
#liquid {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/641/drink-me_liquid_small.png) no-repeat 100% 100%/100% auto;
  position: absolute;
  bottom: 9%; right: 18%;
  height: 50%; width: 9%;
  opacity: .9;
  z-index: 0;
}
.eat_me {
  overflow: hidden;
  cursor: pointer;
  height: 230px;
  width: 400px;
  position: absolute;
  bottom: 6%;
  left: 18%;
}
.eatMe::before {
  content: " ";
  display: block;
  padding-top: 74.83%;
}

#eatMe{

  position: relative;
  left: 5%;
  bottom: 1%;
  
}